.btn {
  background-color: var(--primary);
  color: var(--color);
  border: none;
  border-radius: 20px;
  letter-spacing: 0.05em;
  font-family: inherit;
  font-feature-settings: "pnum" on, "lnum" on, "case" on, "ss01" on;
}
.rippler {
  @keyframes ripplerScale {
    from {
      transform: scale(0);
      opacity: 0.3;
    }
    to {
      transform: scale(60);
      opacity: 0;
    }
  }
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  background-color: var(--color-muted);
  border-radius: 50%;
  mix-blend-mode: screen;
  will-change: transform, opacity;
  animation: ripplerScale 1s cubic-bezier(0.42, 0, 0.58, 1);
}
.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
