@mixin transition(
  $property: all,
  $duration: 0.3s,
  $timing: cubic-bezier(0.42, 0, 0.58, 1),
  $delay: 0s
) {
  transition-property: $property;
  transition-duration: $duration;
  transition-timing-function: $timing;
  transition-delay: $delay;
}
@mixin muted() {
  color: var(--color-muted);
}
@mixin uppercase() {
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
@mixin sticky($top: 0) {
  position: sticky;
  top: $top;
  z-index: 999;
  backdrop-filter: var(--backdrop);
}
@mixin btn() {
  background-color: var(--primary);
  color: var(--color);
  border: none;
  border-radius: 20px;
  letter-spacing: 0.05em;
  font-family: inherit;
  font-feature-settings: "pnum" on, "lnum" on, "case" on, "ss01" on;
}
