.slide-enter-active,
.slide-leave-active {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  transition: all 0.3s var(--ease);
}
.slide-leave-active {
  top: var(--scrollYView);
}
.slide-enter {
  transform: translateX(50vw);
  opacity: 0;
}
.slide-leave-to {
  transform: translateX(-50vw);
  opacity: 0;
}
